#gameField, #player1, #player2 {
  display: none;
}
#startGame{
  display:block;
  margin: 0 auto;
}
#gameField button{
  margin: 10px 0px;
}
#playArea img{
  margin-right: -90px;
}
.container {
  padding: 20px;
}
.select {
  background-color: lightgray;
  border: 1px solid gray;
}
img {
  height: 150px;
}
body {
  background-color: green;
}
#player1 div {
  margin-bottom: -80px;
}
#player1 button {
  margin-top: 85px;
}
#player1 input {
  vertical-align: 37px;
}
#player2 div {
  margin-bottom: -80px;
}
#player2 button {
  margin-top: 85px;
}
#player2 input {
  vertical-align: 37px;
}
