#gameField, #player1, #player2 {
  display: none;
}
#startGame{
  display:block;
  margin: 0 auto;
}
#gameField button{
  margin: 10px 0px;
}
#playArea img{
  margin-right: -90px;
}
.container {
  padding: 20px;
}
.select {
  background-color: lightgray;
  border: 1px solid gray;
}
img {
  height: 150px;
  border: 1px solid black;
  border-radius: 7px;
}
body {
  background-color: green;
}
.stackVert {
  margin-bottom: -80px;
}
#player1 button {
  margin-top: 85px;
}
#player1 input {
  vertical-align: 37px;
}
#player2 button {
  margin-top: 85px;
}
#player2 input {
  vertical-align: 37px;
}
.highlightCurrent {
  background-color: rgba(0, 0, 0, 0.2);
  height: 650px;
}
.highlightCurrent h4 {
  color: white;
}
#player1Highlight {
  width: 194px;
}
#cribDisplay img{
  display:none;
}
